<div class="nav">
  <a href="/posts/new">Create A Post</a>
  <% if @user %>
    Welcome <%= @user.username %>
  <% end %>
</div>
<div class="flash">
  <%= flash[:notice] %>
</div>
<div class="posts-container">
  <% @posts.each do |post| %>
    <div class="post">
      <%= post.content %>
      <p class="date-time">
        <%= post.created_at %>
      </p>
      <form action="/posts/<%= post.id %>/edit">
        <input type="submit" name="Edit" value="Edit">
      </form>
      <form action="/posts/<%= post.id %>/delete" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" name="Delete" value="Delete">
      </form>
    </div>
  <% end %>
</div>