<div class="nav">
  


  <ul>
    <li class="create-post">
      <div>
        <a href="/posts/new">Create A Post</a>
      </div>
    </li>

    <% if @user %>

    <li>
      Welcome <%= @user.username %>
    </li>

    <li class="right">

      <form action="/sessions" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Log Out">
      </form>

    </li>

    <% else %>

    <li class="right">

      <form action="/users/new">
        <input type="submit" value="Sign Up">
      </form>

    </li>

    <li class="right">

      <form action="/sessions/new">
        <input type="submit" value="Log In">
      </form>

    </li>


  <% end %>

  </ul>
  
</div>
<div class="flash">
  <%= flash[:notice] %>
</div>
<div class="posts-container">
  <% @posts.each do |post| %>
    <div class="post">
      <%= post.content %>
      <p class="date-time">
        <%= post.created_at %>
      </p>
      <div class="author">
        <p>Posted By:</p>
        <% if post.author %>
          <%= post.author.username %>
        <% end %>
      </div>
      <div class="comments-container">
        <h2 class="comments-header">Comments</h2>
        <% post.comments.each do |comment| %>
          <div class="comment">
            <%= comment.content %>
          </div>
        <% end %>
      </div>
      <form action="/posts/<%= post.id %>/edit">
        <input type="submit" name="Edit" value="Edit">
      </form>
      <form action="/posts/<%= post.id %>/delete" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" name="Delete" value="Delete">
      </form>
      <form action="/posts/<%= post.id %>/comments/new">
        <input type="submit" value="Comment">
      </form>
    </div>
  <% end %>
</div>